/* CSS Document */
h1 {padding-top:120px;font-family:Broadway, serif;font-size:50px;text-align: center;}
h3 {padding-top:20px;font-family:Broadway, serif;font-size:50px;text-align: center;}
th{font-family:Broadway, serif;font-size:22px;text-decoration: underline; width:10%;height:10%;text-align:left}
td{height:10%;width:20%;color: #000000;font-family:Arial Black, serif;font-size:25px;padding-top:2px}
table{padding-left:18%;height:45%}

.account2{margin-left:10%;background-color: #CCCCCC; width:80%;text-align: center;height:100%;padding:inherit}
.button{font-size:25px; size:30px;align:left;height:40px;}

#error{font-size:20px;}
#warn {font-size:25px; color: #3366FF;text-align: center;}

a{text-decoration:none;display:block; border-right:1px solid white; border-left:1px solid white; padding:0.5em; padding-left: 0.6em;text-align: center}
a:link {color: #FFFFFF}
a:visited {color:#FFFFFF }
a:hover {color: #333333;font-size:120%;font-size:30px;cursor:hand }
a:active {color: #CCCCCC}

