*{margin:0;padding: 0;list-style: none;text-decoration: none;}
#nav{width: 100%;height: 40px;background: #ccc;margin: 0 auto;text-align:center;}
#nav ul{background: #aaa}
#nav ul li{ min-width: 155px;float:left; display:block; height: 40px; line-height: 40px; padding: 0 20px; position: relative;}
#nav ul li:hover{background: #cea;}
#nav ul li ul li{float: none;}
#nav ul li ul{position: absolute;top:40px;left: 0; display: none;}
#nav ul li ul li:hover{background:#FF9933;}
#nav ul li:hover ul{display: block;}


.zerogrid{ position: relative; width: 100%; margin: 0 auto; padding: 0;}
.zerogrid .row{ margin-bottom: 10px;}
.zerogrid .offleft{ margin-left: 0px;}
.zerogrid .offright{ margin-right: 0px;}
.zerogrid .offtop{ margin-top: 0px;}
.zerogrid .offbottom{ margin-bottom: 0px;}
	
.zerogrid .col05,.zerogrid .col06{ float: left; display: inline;}
.zerogrid .col05{ width: 500px; }
.zerogrid .col06{ width: 340px; }

.name { font-size:40px; color: transparent;-webkit-text-stroke: 2px white;letter-spacing: 0.04em; margin-left:80%; padding-top:30px;}
	
header {height: 145px;width:100%; background:url('../image/bg-header.png') repeat-x;margin-bottom:0px;}
header #logo { padding-top: 40px; padding-left:10%;}
header #search-box {position: absolute; left: 50%; top:105px; width: 300px;}
header #search-form {height: 25px;border: 1px solid #999;background-color: #fff;overflow: hidden;}
header #search-text {font-size: 14px;color: #ddd;background: transparent;}
header #search-box input[type="text"] {width: 80%;padding: 5px 0 5px 1em;color: #333;outline: none;}
header #search-button {position: absolute;top: 0;right: 0;height: 27px;width: 80px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;background-color: #999;cursor: pointer;border:0px;}
.header-top-righ {position: absolute;left: 75%; top:105px;width: 39%;}
.header-top-righ a { color:#999;font-size: 20px; padding-right:10px;}
.header-top-righ ul li {margin-right: 5px; float:left; color:#666666;}




img.i3 {width: 450px; height: 205px;border: #000 solid 1px;margin: 3px auto;overflow: hidden; cursor: pointer;transition: all 0.6s;}
img.i3:hover {transform: scale(1.1);} 
.table{ float:left;}
.banner{ float:right; margin-right:30px;}
.noMargin { color:#FFFFFF; font-size:26px; }
.banner h2 {font-size:30px; }

.start{background-image:url(../image/start.jpg); background-repeat:no-repeat; width:100%; height:50%; margin-top:500px; margin-left:50px;position: relative;}
.start p {width:450px; height: 250px; position:inherit; margin-left:70px; padding-top:100px;font-size:34px;}
.start span{font-weight:700;}
.objectives{ margin-bottom:25px;}
.objectives h2{ margin-left: 260px; margin-top:50px;}
.objectives table { margin-left:250px; width:1000px; height:260px;}
img.i4 {width:80px; height:80px;}
img.i5 {width:120px; height:120px;}
.audience{height:500px; width:100; background-color:#666666; padding-top:1px; padding-bottom:50px;}
.audience h2{margin-left: 230px; margin-top:30px; margin-bottom:20px;}
.audience table{ border-collapse:separate; border-spacing:25px 10px; margin-left:200px; width:1000px; height:350px; }

.about {color:#666666; font-size:14px; margin-left:100px; margin-top:50px;}
.about p { font-weight:bold;}
.about a{ color:#666666;}
.idea{width: 800px; position:inherit;left: 50%; margin-left: 100px;background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%); -webkit-text-fill-color: transparent;-webkit-background-clip: text;    -webkit-background-size: 200% 100%;  -webkit-animation: masked-animation 4s linear infinite;font-size: 60px;}
.IS { font-size:40px; color: transparent;-webkit-text-stroke: 2px red;letter-spacing: 0.04em;float:left;}
img.i2{ width:40px; height:40px;}

.footer{width:100%;}
.about{width:150px; height:80px;  float:left; margin-top:50px;}
.idea{width:650px; height:80px;  float:left; margin-top:50px;}
.IS{width:25%; height:80px;  float:left; margin-top:90px;}

#copyright{ margin-top:170px; }
#copyright ul li{float:left; line-height: 40px; padding: 0 2px; position: relative; color:#999999; font-size:12px;}


